<footer class="main_footer">
  <p>&copy;2020 angela-sarafyan.com</p>
  <p>Images copyrights to their respective holders.</p>
</footer>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
