{% include "_header.njk" %}
<h2>Beginning of new Angela Sarafyan site 3</h2>

<ul class="home_images">
{% for image in home.images -%}
<li><img src="{{ image }}"></li>
{% endfor -%}
</ul>

{% include "_footer.njk" %}
