$clrbg: #333333;
$clrtext: #eeeeee;


* {
	padding: 0;
	margin: 0;

}

body {
	background: $clrbg;
	color: $clrtext;
	margin: 1em;
	font-family: 'Arial', sans-serif;
}

p, h1, h2, h3, h4 {
	margin-bottom: 1em;
}

ul.home_images {
	list-style: none;
	display: flex;

	li {
		margin-right: 0;

		img {
			width: 100%;
			display: block;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.main_caption {
	text-align: center;
}

.main_footer {
	padding: 1em;
	text-align: center;
	font-size: .8em;
	color: #cccccc;
}

@media(max-width: 600px) {
	ul.home_images {
		list-style: none;
		display: flex;
		flex-direction: column;
	}
}
